In [1]:
import setup # resolve path to 'src'
from typing import Optional
from build_parse import *
from metrics import *

pd.set_option('display.max_rows', None)

In [2]:
progs = [ CoreutilsProgram(progname) for progname in COREUTILS_PROG_NAMES ]
prognames = [ prog.get_name() for prog in progs ]

prognames_analyze = [ "stat", "nohup", "pinky", "csplit", "ginstall", "fmt", "df", "join", "expr", "seq", "unexpand", "tsort", "tee", "base64", "sum", "cksum", "wc" ]
progs_analyze = []
for progname in prognames_analyze:
    for prog in progs:
        if progname == prog.get_name():
            progs_analyze.append(prog)
            break

def prog_from_progname(progname: str) -> Program:
    for prog in progs:
        if progname == prog.get_name():
            return prog

# Define the build options to test for each program
debug_opts = BuildOptions(debug=True, strip=False, optimization=0)
standard_opts = BuildOptions(debug=False, strip=False, optimization=0)
strip_opts = BuildOptions(debug=False, strip=True, optimization=0)

opts_sets = (debug_opts, standard_opts, strip_opts)

# Get the parser functions
dwarf_parser = get_parser("dwarf")
ghidra_parser = get_parser("ghidra")

# ensure that each program is built according to all variations of build options
for prog in progs:
    for opts in (debug_opts, standard_opts, strip_opts):
        assert(prog.valid_build(opts))

In [3]:

# the filename format for saving parsed ProgramInfo pickle objects
def mangle_proginfo_save_name(parsername: str, prog: Program, opts: BuildOptions) -> str:
    return "{}.{}.pickle".format(prog.get_binary_name(opts), parsername)

def get_proginfo_save_path(parsername: str, prog: Program, opts: BuildOptions) -> Path:
    return PICKLE_CACHE_DIR.joinpath(mangle_proginfo_save_name(parsername, prog, opts))

def save_proginfo(proginfo: ProgramInfo, parsername: str, prog: Program, opts: BuildOptions):
    save_pickle(proginfo, get_proginfo_save_path(parsername, prog, opts))

def load_proginfo(parsername: str, prog: Program, opts: BuildOptions) -> ProgramInfo:
    return load_pickle(get_proginfo_save_path(parsername, prog, opts))

# the filename format for saving UnoptimizedProgramInfoCompare2 objects
def mangle_cmp_save_name(prog: Program, opts: BuildOptions) -> str:
    return "{}.cmp.pickle".format(prog.get_binary_name(opts))

def get_cmp_save_path(prog: Program, opts: BuildOptions) -> Path:
    return PICKLE_CACHE_DIR.joinpath(mangle_cmp_save_name(prog, opts))

def save_cmp(cmp: UnoptimizedProgramInfoCompare2, prog: Program, opts: BuildOptions):
    save_pickle(cmp, get_cmp_save_path(prog, opts))

def load_cmp(prog: Program, opts: BuildOptions) -> UnoptimizedProgramInfoCompare2:
    return load_pickle(get_cmp_save_path(prog, opts))

In [4]:
# DWARF: only parse with the debug build options
# Ghidra: parse with all variations of build options
# Cache the results in local pickle_cache directory, named based on the 'mangle' scheme

reparse = False # should we re-parse even if we already parsed and cached a program?
skip_parsing = True # should we skip the parsing? set to True if we already parsed & cached

class ParseException(Exception):
    pass

def parse(parser: Callable, prog: Program, opts: BuildOptions) -> Optional[ProgramInfo]:
    try:
        return parser(prog.get_binary_path(opts))
    except:
        return None

failed = []
if not skip_parsing:
    for prog in progs:
        dwarf_debug_savepath = get_proginfo_save_path("dwarf", prog, debug_opts)
        if reparse or not dwarf_debug_savepath.exists():
            dwarf_debug = parse(dwarf_parser, prog, debug_opts)
            if dwarf_debug is None:
                failed.append(("dwarf", prog.get_name(), debug_opts))
            else:
                save_pickle(dwarf_debug, dwarf_debug_savepath)

        for opts in opts_sets:
            ghidra_parse_savepath = get_proginfo_save_path("ghidra", prog, opts)
            if reparse or not dwarf_debug_savepath.exists():
                ghidra_parse = parse(ghidra_parser, prog, opts)
                if ghidra_parse is None:
                    failed.append(("ghidra", prog.get_name(), opts))
                else:
                    save_pickle(ghidra_parse, ghidra_parse_savepath)

In [5]:
print(failed)

for prog in progs:
    for opts in opts_sets:
        assert(get_proginfo_save_path("ghidra", prog, opts).exists())

[]

In [6]:
# For each program & build options combination, compute & store comparison object

recompare = False
skip_comparisons = True

failed = []
if not skip_comparisons:
    for prog in progs:
        # load the DWARF ground-truth ProgramInfo
        dwarf_proginfo = load_pickle(get_proginfo_save_path("dwarf", prog, debug_opts))
        assert(dwarf_proginfo is not None)

        # for each set of compilation options, load the Ghidra decompiler ProgramInfo
        # then compute & store the comparison object
        for opts in (strip_opts,):
            cmp_save_path = get_cmp_save_path(prog, opts)
            if recompare or not cmp_save_path.exists():
                ghidra_proginfo = load_pickle(get_proginfo_save_path("ghidra", prog, opts))
                assert(ghidra_proginfo is not None)
                try:
                    cmp = compare2(dwarf_proginfo, ghidra_proginfo)
                    save_pickle(cmp, get_cmp_save_path(prog, opts))
                except:
                    failed.append((prog.get_name(), opts))

In [7]:
print(failed)

for prog in progs:
    for opts in opts_sets:
        assert(get_cmp_save_path(prog, opts).exists())

[]

In [8]:
# For each opts, compute the tables

def mangle_table_save_name(
    tablename: str,
    opts: BuildOptions
) -> str:
    return "{}{}.csv".format(tablename, suffix(opts))

def mangle_table_display_name(
    tablename: str,
    opts: BuildOptions
) -> str:
    def _suffix(opts: BuildOptions) -> str:
        return "(optimization={}, stripped={}, debug={})".format(opts.optimization, opts.strip, opts.debug)

    return "{} {}".format(tablename, _suffix(opts))

def get_table_save_path(
    tablename: str,
    opts: BuildOptions
) -> Path:
    return DATA_DIR.joinpath(mangle_table_save_name(tablename, opts))

def load_table(
    tablename: str,
    opts: BuildOptions
) -> pd.DataFrame:
    return pd.read_csv(get_table_save_path(tablename, opts), index_col=0)

def load_table_filter_analyzed(tablename: str, opts: BuildOptions) -> pd.DataFrame:
    return load_table(tablename, opts).filter(prognames_analyze, axis=0)

In [9]:
recompute = False
skip_compute_metrics = True

metrics_groups = make_metrics()

if not skip_compute_metrics:
    for opts in opts_sets:
        cmps = [ load_cmp(prog, opts) for prog in progs ]
        for grp in metrics_groups:
            save_path = get_table_save_path(grp.get_name(), opts)
            tablename = mangle_table_display_name(grp.get_display_name(), opts)
            print(tablename)
            if recompute or not save_path.exists():
                df = compute_comparisons_metrics_dataframe(prognames, cmps, grp.get_metrics())
                df.to_csv(save_path)

In [10]:
bytes_group = metrics_groups[0]
functions_group = metrics_groups[1]
varnodes_group = metrics_groups[2]
decomposed_varnodes_group = metrics_groups[9]
array_comparisons_group = metrics_groups[13]

primitive_metatypes = [MetaType.INT, MetaType.FLOAT, MetaType.POINTER]
complex_metatypes = [MetaType.ARRAY, MetaType.STRUCT, MetaType.UNION]

def varnodes_group_metatype(metatype: int) -> MetricsGroup:
    _map = dict([ (meta, i) for i, meta in enumerate(primitive_metatypes + complex_metatypes, 3) ])
    return metrics_groups[_map[metatype]]

def decomposed_varnodes_group_metatype(metatype: int) -> MetricsGroup:
    _map = dict([ (meta, i) for i, meta in enumerate(primitive_metatypes, 10) ])
    return metrics_groups[_map[metatype]]

In [11]:


# for opts in opts_sets:
#     for grp in metrics_groups:
#         save_path = get_table_save_path(grp.get_name(), opts)
#         tablename = mangle_table_display_name(grp.get_display_name(), opts)

# df = load_table_filter_analyzed(metrics_groups[0].get_name(), opts)
# df

# cmp = load_cmp(prog_from_progname("wc"), opts)

# varnodes_missed(cmp)
def get_analyzed_table(grp: MetricsGroup, opts: BuildOptions) -> pd.DataFrame:
    return load_table_filter_analyzed(grp.get_name(), opts)

def display_analyzed_tables(metrics_groups: List[MetricsGroup], opts_sets: List[BuildOptions]):
    for grp in metrics_groups:
        for opts in opts_sets:
            table_display_name = mangle_table_display_name(grp.get_display_name(), opts)
            df = load_table_filter_analyzed(grp.get_name(), opts)

            print("{} {} {}".format("-"*10, table_display_name, "-"*10))
            display(df)

In [12]:
display_analyzed_tables(
    (varnodes_group, varnodes_group_metatype(MetaType.ARRAY)),
    opts_sets
)

---------- VARNODES (optimization=0, stripped=False, debug=True) ----------

,Ground truth varnodes,Varnodes matched @ level=NO_MATCH,Varnodes matched @ level=OVERLAP,Varnodes matched @ level=SUBSET,Varnodes matched @ level=ALIGNED,Varnodes matched @ level=MATCH,"Varnode average comparison score [0,1]"
stat,608,0,0,1,0,607,0.999178
nohup,162,0,0,0,0,162,1.000000
pinky,182,0,0,1,0,181,0.997253
csplit,1003,0,1,1,6,995,0.997258
fmt,186,0,0,0,0,186,1.000000
df,646,0,2,0,0,644,0.997678
join,260,0,0,0,0,260,1.000000
expr,932,0,1,1,6,924,0.997049
seq,279,0,0,0,0,279,1.000000
unexpand,158,0,0,0,0,158,1.000000
tsort,162,0,0,0,0,162,1.000000
tee,154,0,0,0,0,154,1.000000
base64,160,0,0,0,0,160,1.000000
sum,278,0,0,0,0,278,1.000000
cksum,780,102,0,0,0,678,0.869231
wc,268,0,0,0,0,268,1.000000

---------- VARNODES (optimization=0, stripped=False, debug=False) ----------

,Ground truth varnodes,Varnodes matched @ level=NO_MATCH,Varnodes matched @ level=OVERLAP,Varnodes matched @ level=SUBSET,Varnodes matched @ level=ALIGNED,Varnodes matched @ level=MATCH,"Varnode average comparison score [0,1]"
stat,608,5,21,14,321,247,0.822368
nohup,162,1,7,4,105,45,0.787037
pinky,182,1,11,2,110,58,0.792582
csplit,1003,8,41,15,544,395,0.818295
fmt,186,1,6,2,110,67,0.817204
df,646,1,20,11,287,327,0.855650
join,260,1,8,3,151,97,0.822115
expr,932,8,37,25,499,363,0.814378
seq,279,1,20,6,128,124,0.817204
unexpand,158,1,6,2,92,57,0.813291
tsort,162,1,9,4,96,52,0.791667
tee,154,1,8,2,93,50,0.797078
base64,160,1,6,2,82,69,0.831250
sum,278,2,12,2,140,122,0.830935
cksum,780,115,24,13,396,232,0.694231
wc,268,1,7,5,153,102,0.824627

---------- VARNODES (optimization=0, stripped=True, debug=False) ----------

,Ground truth varnodes,Varnodes matched @ level=NO_MATCH,Varnodes matched @ level=OVERLAP,Varnodes matched @ level=SUBSET,Varnodes matched @ level=ALIGNED,Varnodes matched @ level=MATCH,"Varnode average comparison score [0,1]"
stat,608,5,21,14,321,247,0.822368
nohup,162,1,7,4,105,45,0.787037
pinky,182,1,11,2,110,58,0.792582
csplit,1003,8,41,15,544,395,0.818295
fmt,186,1,6,2,110,67,0.817204
df,646,1,20,11,287,327,0.855650
join,260,1,8,3,151,97,0.822115
expr,932,8,37,25,499,363,0.814378
seq,279,1,20,6,128,124,0.817204
unexpand,158,1,6,2,92,57,0.813291
tsort,162,1,9,4,96,52,0.791667
tee,154,1,8,2,93,50,0.797078
base64,160,1,6,2,82,69,0.831250
sum,278,2,12,2,140,122,0.830935
cksum,780,115,24,13,396,232,0.694231
wc,268,1,7,5,153,102,0.824627

---------- VARNODES (metatype = ARRAY) (optimization=0, stripped=False, debug=True) ----------

,Ground truth varnodes (metatype=ARRAY),Decompiler varnodes matched @ level=NO_MATCH (metatype=ARRAY),Decompiler varnodes matched @ level=OVERLAP (metatype=ARRAY),Decompiler varnodes matched @ level=SUBSET (metatype=ARRAY),Decompiler varnodes matched @ level=ALIGNED (metatype=ARRAY),Decompiler varnodes matched @ level=MATCH (metatype=ARRAY),"Varnode average compare score [0,1] (metatype=ARRAY)"
stat,32,0,0,1,0,31,0.984375
nohup,13,0,0,0,0,13,1.000000
pinky,17,0,0,1,0,16,0.970588
csplit,35,0,0,1,0,34,0.985714
fmt,12,0,0,0,0,12,1.000000
df,25,0,1,0,0,24,0.970000
join,18,0,0,0,0,18,1.000000
expr,33,0,0,1,0,32,0.984848
seq,15,0,0,0,0,15,1.000000
unexpand,11,0,0,0,0,11,1.000000
tsort,13,0,0,0,0,13,1.000000
tee,14,0,0,0,0,14,1.000000
base64,12,0,0,0,0,12,1.000000
sum,22,0,0,0,0,22,1.000000
cksum,125,59,0,0,0,66,0.528000
wc,16,0,0,0,0,16,1.000000

---------- VARNODES (metatype = ARRAY) (optimization=0, stripped=False, debug=False) ----------

,Ground truth varnodes (metatype=ARRAY),Decompiler varnodes matched @ level=NO_MATCH (metatype=ARRAY),Decompiler varnodes matched @ level=OVERLAP (metatype=ARRAY),Decompiler varnodes matched @ level=SUBSET (metatype=ARRAY),Decompiler varnodes matched @ level=ALIGNED (metatype=ARRAY),Decompiler varnodes matched @ level=MATCH (metatype=ARRAY),"Varnode average compare score [0,1] (metatype=ARRAY)"
stat,32,5,7,6,0,14,0.585938
nohup,13,1,3,4,0,5,0.596154
pinky,17,1,7,2,0,7,0.573529
csplit,35,2,13,5,0,15,0.592857
fmt,12,1,2,2,0,7,0.708333
df,25,1,9,3,2,10,0.610000
join,18,1,3,2,1,11,0.750000
expr,33,2,9,7,0,15,0.628788
seq,15,1,2,3,1,8,0.716667
unexpand,11,1,2,2,0,6,0.681818
tsort,13,1,3,4,0,5,0.596154
tee,14,1,4,2,0,7,0.642857
base64,12,1,2,2,0,7,0.708333
sum,22,2,6,2,1,11,0.647727
cksum,125,70,9,13,1,32,0.332000
wc,16,1,3,4,2,6,0.640625

---------- VARNODES (metatype = ARRAY) (optimization=0, stripped=True, debug=False) ----------

,Ground truth varnodes (metatype=ARRAY),Decompiler varnodes matched @ level=NO_MATCH (metatype=ARRAY),Decompiler varnodes matched @ level=OVERLAP (metatype=ARRAY),Decompiler varnodes matched @ level=SUBSET (metatype=ARRAY),Decompiler varnodes matched @ level=ALIGNED (metatype=ARRAY),Decompiler varnodes matched @ level=MATCH (metatype=ARRAY),"Varnode average compare score [0,1] (metatype=ARRAY)"
stat,32,5,7,6,0,14,0.585938
nohup,13,1,3,4,0,5,0.596154
pinky,17,1,7,2,0,7,0.573529
csplit,35,2,13,5,0,15,0.592857
fmt,12,1,2,2,0,7,0.708333
df,25,1,9,3,2,10,0.610000
join,18,1,3,2,1,11,0.750000
expr,33,2,9,7,0,15,0.628788
seq,15,1,2,3,1,8,0.716667
unexpand,11,1,2,2,0,6,0.681818
tsort,13,1,3,4,0,5,0.596154
tee,14,1,4,2,0,7,0.642857
base64,12,1,2,2,0,7,0.708333
sum,22,2,6,2,1,11,0.647727
cksum,125,70,9,13,1,32,0.332000
wc,16,1,3,4,2,6,0.640625

In [13]:
cmp = load_cmp(prog_from_progname("cksum"), debug_opts)
truth = sum([ varnode.get_size() for varnode in varnodes_truth(cmp) ])
missed = sum([ varnode.get_size() for varnode in varnodes_missed(cmp) ])
overlapped = varnode_compare_records_matched_at_level(cmp, VarnodeCompareLevel.OVERLAP)
for varnode in varnodes_missed(cmp):
    print(varnode.get_var().get_parent_function().get_name())

# for record in overlapped:
#     print(record.get_varnode().get_var().get_parent_function().get_name())
# print(overlapped)

cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul
cksum_pclmul