In [1]:
# imports
import setup

# libs
from IPython.display import display
import numpy as np
import pandas as pd

# local
from build_parse import *
from metrics import *

In [2]:
# options for display, etc.
pd.set_option('display.max_rows', None)

In [3]:
prognames = [ "ndarray", "typecases", "p0", "structcases" ]
progs = [ ToyProgram(progname) for progname in prognames ]

# progs = COREUTILS_PROGS
prog_names = [ prog.get_name() for prog in progs ]

opts = BuildOptions()
dwarf_opts = BuildOptions(debug=True, strip=False, optimization=opts.optimization)
for prog in progs:
    prog.build_if_not_valid(opts)
    prog.build_if_not_valid(dwarf_opts)

In [4]:
metrics_groups = make_metrics()

for grp in metrics_groups:
    print(grp.get_name())

DATA BYTES
FUNCTIONS
VARNODES
VARNODES (metatype = INT)
VARNODES (metatype = FLOAT)
VARNODES (metatype = POINTER)
VARNODES (metatype = ARRAY)
VARNODES (metatype = STRUCT)
VARNODES (metatype = UNION)
PRIMITIVE VARNODES
VARNODES (decomposed) (metatype = INT)
VARNODES (decomposed) (metatype = FLOAT)
VARNODES (decomposed) (metatype = POINTER)
ARRAY COMPARISONS

In [5]:
# compute the DWARF vs Ghidra comparisons for each program, given the build options
cmps = [ parse_compare_program(prog, opts, decompiler="ghidra") for prog in progs ]


dfs = []
for i, metrics_grp in enumerate(metrics_groups):
    df = compute_comparisons_metrics_dataframe(
        prog_names,
        cmps,
        metrics_grp
    )
    csv_out_path = DATA_DIR.joinpath("toy_{}.csv".format(i))
    df.to_csv(csv_out_path)
    dfs.append(df)

In [6]:
for metrics_grp, df in zip(metrics_groups, dfs):
    print("{} {} {}".format("-"*10, metrics_grp.get_name(), "-"*10))
    display(df)

---------- DATA BYTES ----------

             Ground truth data bytes  Bytes found  Bytes missed
ndarray                         4440         4440             0
typecases                        584          572            12
p0                                61           61             0
structcases                       80           67            13

---------- FUNCTIONS ----------

             Ground truth functions  Functions found  Functions missed
ndarray                           1                1                 0
typecases                         4                4                 0
p0                                3                3                 0
structcases                       1                1                 0

---------- VARNODES ----------

,Ground truth varnodes,Varnodes matched @ level=OVERLAP,Varnodes matched @ level=SUBSET,Varnodes matched @ level=ALIGNED,Varnodes matched @ level=MATCH,"Varnode average comparison score [0,1]"
ndarray,3,2,0,0,1,0.500000
typecases,15,3,2,8,2,0.650000
p0,7,0,0,2,5,0.928571
structcases,6,0,3,2,1,0.666667

---------- VARNODES (metatype = INT) ----------

,Ground truth varnodes (metatype=INT),Decompiler varnodes matched @ level=NO_MATCH (metatype=INT),Decompiler varnodes matched @ level=OVERLAP (metatype=INT),Decompiler varnodes matched @ level=SUBSET (metatype=INT),Decompiler varnodes matched @ level=ALIGNED (metatype=INT),Decompiler varnodes matched @ level=MATCH (metatype=INT),"Varnode average compare score [0,1] (metatype=INT)"
ndarray,0,0,0,0,0,0,NaN
typecases,8,0,0,0,6,2,0.812500
p0,6,0,0,0,2,4,0.916667
structcases,0,0,0,0,0,0,NaN

---------- VARNODES (metatype = FLOAT) ----------

,Ground truth varnodes (metatype=FLOAT),Decompiler varnodes matched @ level=NO_MATCH (metatype=FLOAT),Decompiler varnodes matched @ level=OVERLAP (metatype=FLOAT),Decompiler varnodes matched @ level=SUBSET (metatype=FLOAT),Decompiler varnodes matched @ level=ALIGNED (metatype=FLOAT),Decompiler varnodes matched @ level=MATCH (metatype=FLOAT),"Varnode average compare score [0,1] (metatype=FLOAT)"
ndarray,0,0,0,0,0,0,None
typecases,0,0,0,0,0,0,None
p0,0,0,0,0,0,0,None
structcases,0,0,0,0,0,0,None

---------- VARNODES (metatype = POINTER) ----------

,Ground truth varnodes (metatype=POINTER),Decompiler varnodes matched @ level=NO_MATCH (metatype=POINTER),Decompiler varnodes matched @ level=OVERLAP (metatype=POINTER),Decompiler varnodes matched @ level=SUBSET (metatype=POINTER),Decompiler varnodes matched @ level=ALIGNED (metatype=POINTER),Decompiler varnodes matched @ level=MATCH (metatype=POINTER),"Varnode average compare score [0,1] (metatype=POINTER)"
ndarray,0,0,0,0,0,0,NaN
typecases,1,0,0,0,1,0,0.75
p0,0,0,0,0,0,0,NaN
structcases,1,0,0,0,0,1,1.00

---------- VARNODES (metatype = ARRAY) ----------

,Ground truth varnodes (metatype=ARRAY),Decompiler varnodes matched @ level=NO_MATCH (metatype=ARRAY),Decompiler varnodes matched @ level=OVERLAP (metatype=ARRAY),Decompiler varnodes matched @ level=SUBSET (metatype=ARRAY),Decompiler varnodes matched @ level=ALIGNED (metatype=ARRAY),Decompiler varnodes matched @ level=MATCH (metatype=ARRAY),"Varnode average compare score [0,1] (metatype=ARRAY)"
ndarray,3,0,2,0,0,1,0.50
typecases,2,0,2,0,0,0,0.25
p0,1,0,0,0,0,1,1.00
structcases,0,0,0,0,0,0,NaN

---------- VARNODES (metatype = STRUCT) ----------

,Ground truth varnodes (metatype=STRUCT),Decompiler varnodes matched @ level=NO_MATCH (metatype=STRUCT),Decompiler varnodes matched @ level=OVERLAP (metatype=STRUCT),Decompiler varnodes matched @ level=SUBSET (metatype=STRUCT),Decompiler varnodes matched @ level=ALIGNED (metatype=STRUCT),Decompiler varnodes matched @ level=MATCH (metatype=STRUCT),"Varnode average compare score [0,1] (metatype=STRUCT)"
ndarray,0,0,0,0,0,0,NaN
typecases,3,0,1,2,0,0,0.416667
p0,0,0,0,0,0,0,NaN
structcases,3,0,0,3,0,0,0.500000

---------- VARNODES (metatype = UNION) ----------

,Ground truth varnodes (metatype=UNION),Decompiler varnodes matched @ level=NO_MATCH (metatype=UNION),Decompiler varnodes matched @ level=OVERLAP (metatype=UNION),Decompiler varnodes matched @ level=SUBSET (metatype=UNION),Decompiler varnodes matched @ level=ALIGNED (metatype=UNION),Decompiler varnodes matched @ level=MATCH (metatype=UNION),"Varnode average compare score [0,1] (metatype=UNION)"
ndarray,0,0,0,0,0,0,NaN
typecases,1,0,0,0,1,0,0.75
p0,0,0,0,0,0,0,NaN
structcases,2,0,0,0,2,0,0.75

---------- PRIMITIVE VARNODES ----------

,Ground truth varnodes (decomposed),Varnodes matched @ level=NO_MATCH (decomposed),Varnodes matched @ level=OVERLAP (decomposed),Varnodes matched @ level=SUBSET (decomposed),Varnodes matched @ level=ALIGNED (decomposed),Varnodes matched @ level=MATCH (decomposed),"Varnode average comparison score [0,1] (decomposed)"
ndarray,1110,0,1110,0,0,0,0.250000
typecases,132,0,1,0,14,117,0.967803
p0,16,0,0,0,2,14,0.968750
structcases,13,0,1,0,8,4,0.788462

---------- VARNODES (decomposed) (metatype = INT) ----------

,Ground truth varnodes (decomposed) (metatype=INT),Varnodes matched @ level=OVERLAP (decomposed) (metatype=INT),Varnodes matched @ level=SUBSET (decomposed) (metatype=INT),Varnodes matched @ level=ALIGNED (decomposed) (metatype=INT),Varnodes matched @ level=MATCH (decomposed) (metatype=INT),"Varnode average compare score [0,1] (decomposed) (metatype=INT)"
ndarray,1110,1110,0,0,0,0.250000
typecases,127,0,0,12,115,0.976378
p0,16,0,0,2,14,0.968750
structcases,7,0,0,7,0,0.750000

---------- VARNODES (decomposed) (metatype = FLOAT) ----------

,Ground truth varnodes (decomposed) (metatype=FLOAT),Varnodes matched @ level=OVERLAP (decomposed) (metatype=FLOAT),Varnodes matched @ level=SUBSET (decomposed) (metatype=FLOAT),Varnodes matched @ level=ALIGNED (decomposed) (metatype=FLOAT),Varnodes matched @ level=MATCH (decomposed) (metatype=FLOAT),"Varnode average compare score [0,1] (decomposed) (metatype=FLOAT)"
ndarray,0,0,0,0,0,None
typecases,0,0,0,0,0,None
p0,0,0,0,0,0,None
structcases,0,0,0,0,0,None

---------- VARNODES (decomposed) (metatype = POINTER) ----------

,Ground truth varnodes (decomposed) (metatype=POINTER),Varnodes matched @ level=OVERLAP (decomposed) (metatype=POINTER),Varnodes matched @ level=SUBSET (decomposed) (metatype=POINTER),Varnodes matched @ level=ALIGNED (decomposed) (metatype=POINTER),Varnodes matched @ level=MATCH (decomposed) (metatype=POINTER),"Varnode average compare score [0,1] (decomposed) (metatype=POINTER)"
ndarray,0,0,0,0,0,NaN
typecases,4,0,0,2,2,0.875
p0,0,0,0,0,0,NaN
structcases,4,0,0,0,4,1.000

---------- ARRAY COMPARISONS ----------

,Array comparisons,Array length (elements) average error,Array length (elements) average error ratio,Array size (bytes) average error,Array size (bytes) average error ratio,"Array dimension match score [0,1]","Array average element type comparison score [0,1]"
ndarray,2,274.5,0.4995,4.0,0.001,0.0,0.666667
typecases,2,2.0,0.1100,8.0,0.110,0.5,1.000000
p0,1,0.0,0.0000,0.0,0.000,1.0,1.000000
structcases,0,NaN,NaN,NaN,NaN,NaN,NaN